Django~=4.2.22                        # Main Django framework
django-environ~=0.12.0                # Package that allows you to use 12-factor methodology to configure your Django application with environment variables
python-decouple~=3.8                  # For strict separation of config from code